|<form action="login" method="post">
    <label>UserName</label><input type ="text" name="userName"/>
    <br>
    <label>Password</label><input type="password" name="password"/>
    <br />
      <label>Password2</label><input type="password" name="password2"/>
    <br />
    <input type="submit" />
</form>